
# Virtual environment
.venv/

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
sonar-project.properties
award-service-dev/
/notification-service-develop/
/training-service-dev/
styria-flutter-web/
entity-service-entity-styria-dev/
form-service-dev/
user-service-dev/
feed-service-dev/
krakend-feature-styria-training-service/